<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Site Title -->
    <title>Mysoftheaven Smart education care! </title>
    <!-- Meta Description Tag -->
    <meta name="Description" content="Klinik is a HTML5 & CSS3 responsive template">
    <!-- Favicon Icon -->
    <link rel="icon" type="image/x-icon" href="images/mysoft.png" />
    <!-- Font Awesoeme Stylesheet CSS -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <!-- Google web Font -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Material Design Lite Stylesheet CSS -->
    <link rel="stylesheet" href="css/material.min.css" />
    <!-- Material Design Select Field Stylesheet CSS -->
    <link rel="stylesheet" href="css/mdl-selectfield.min.css">
    <!-- Owl Carousel Stylesheet CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <!-- Animate Stylesheet CSS -->
    <link rel="stylesheet" href="css/animate.min.css" />
    <!-- Magnific Popup Stylesheet CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <!-- Flex Slider Stylesheet CSS -->
    <link rel="stylesheet" href="css/flexslider.css" />
    <!-- Custom Main Stylesheet CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Start Header Section -->
    <header >
        <div class="layer-stretch hdr-center">
            <div class="row">
                 <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6 ">
                        <a><i class="fa fa-phone" ></i>+8801710000000</a>
                    </div>
                    <div class="col-md-6">
                        <a><i class="fa fa-envelope"></i>info@mysoftheaven.com</a>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hdr-center-logo text-center">
                        <a href="index.html"><img src="./images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-4>
                    <div class="pull-right">
                        <ul class="social-list">
                            <li>
                                <a href="#" id="hdr-facebook" class="fa fa-facebook rounded"></a>
                                <span class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="hdr-facebook">Facebook</span>
                            </li>
                            <li>
                                <a href="#" id="hdr-twitter" class="fa fa-twitter rounded"></a>
                                <span class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="hdr-twitter">Twitter</span>
                            </li>
                            <li>
                                <a href="#" id="hdr-google" class="fa fa-google rounded"></a>
                                <span class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="hdr-google">Google</span>
                            </li>
                            <li>
                                <a href="#" id="hdr-instagram" class="fa fa-instagram rounded"></a>
                                <span class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="hdr-instagram">Instagram</span>
                            </li>
                            <li>
                                <a href="#" id="hdr-youtube" class="fa fa-youtube rounded"></a>
                                <span class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="hdr-youtube">Youtube</span>
                            </li>
                            <li>
                                <a href="#" id="hdr-linkedin" class="fa fa-linkedin rounded"></a>
                                <span class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="hdr-linkedin">Linkedin</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-transparent-menu">
            <div class="hdr layer-stretch">
                <div class="row align-items-center justify-content-end">
                    <!-- Start Menu Section -->
                    <ul class="col menu text-left">
                        <li>
                            <a href="index.html" id="menu-home" class="mdl-button mdl-js-button mdl-js-ripple-effect">Home</a>
                        </li>
                        <li class="menu-megamenu-li">
                            <a href="about.html" id="menu-pages" class="mdl-button mdl-js-button mdl-js-ripple-effect">About Us</a>
                        </li>
                        <li> 
                            <a id="menu-service" class="mdl-button mdl-js-button mdl-js-ripple-effect">Vision 2021</a>    
                        </li>
                        <li class="menu-megamenu-li">
                            <a id="menu-doctor" class="mdl-button mdl-js-button mdl-js-ripple-effect">Manual </a>
                        </li>
                        <li>
                            <a id="menu-blog" class="mdl-button mdl-js-button mdl-js-ripple-effect">Features</a>     
                        </li>
                        <li class="menu-megamenu-li">
                            <a id="menu-pages" class="mdl-button mdl-js-button mdl-js-ripple-effect">Gallery</a>
                        </li>
                        <li class="menu-megamenu-li">
                            <a href="blogs.html" id="menu-pages" class="mdl-button mdl-js-button mdl-js-ripple-effect">Blog</a>
                        </li>
                        <li>
                            <a href="contact.html" id="menu-profile" class="mdl-button mdl-js-button mdl-js-ripple-effect">Contact Us</a>
                        </li>
                        
                        <li>
                        </li>
                        <li class="mobile-menu-close"></li>
                    </ul><!-- End Menu Section -->
                    <div class="col col-md-auto d-none d-sm-block d-md-block d-lg-block d-xl-block">
                        <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect hdr-apointment"><i class="fa fa-address-book"></i> Make a Demo Request</button>
                    </div>
            </div>
        </div>
    </header><!-- End Header -->
    <!-- Start Page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>Gallery</h1>
                <p><a href="#">Home</a> &#8594; <span>Gallery</span></p>
            </div>
        </div>
    </div><!-- End Page Title Section -->
    <!-- Start Gallery Section -->
    <div class="container"><div id="gallery-page">
        <div class="gallery-container">
            <ul class="portfolio-image">
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-1.jpg">
                        <img src="uploads/gallery/gallery-1.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-2.jpg">
                        <img src="uploads/gallery/gallery-2.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-3.jpg">
                        <img src="uploads/gallery/gallery-3.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-4.jpg">
                        <img src="uploads/gallery/gallery-4.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-5.jpg">
                        <img src="uploads/gallery/gallery-5.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-6.jpg">
                        <img src="uploads/gallery/gallery-6.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-7.jpg">
                        <img src="uploads/gallery/gallery-7.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-8.jpg">
                        <img src="uploads/gallery/gallery-8.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-9.jpg">
                        <img src="uploads/gallery/gallery-9.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-10.jpg">
                        <img src="uploads/gallery/gallery-10.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-11.jpg">
                        <img src="uploads/gallery/gallery-11.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-12.jpg">
                        <img src="uploads/gallery/gallery-12.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-13.jpg">
                        <img src="uploads/gallery/gallery-13.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-14.jpg">
                        <img src="uploads/gallery/gallery-14.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-15.jpg">
                        <img src="uploads/gallery/gallery-15.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-16.jpg">
                        <img src="uploads/gallery/gallery-16.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-17.jpg">
                        <img src="uploads/gallery/gallery-17.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-18.jpg">
                        <img src="uploads/gallery/gallery-18.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-19.jpg">
                        <img src="uploads/gallery/gallery-19.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gallery-block">
                    <a href="uploads/gallery/gallery-20.jpg">
                        <img src="uploads/gallery/gallery-20.jpg" alt="image">
                        <div class="gallery-layer">
                            <div class="gallery-layer-dark">
                                <p><i class="fa fa-search-plus"></i></p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </div><!-- End Gallery Section -->
    <!-- Start Emergency Section -->
    <!-- Start Make an Appointment Modal -->
    <div id="appointment" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title">Make a Demo Request</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="appointment-error"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                                <i class="fa fa-user-o"></i>
                                <input class="mdl-textfield__input" type="text" pattern="[A-Z,a-z,.]*" id="appointment-name">
                                <label class="mdl-textfield__label" for="appointment-name">Name</label>
                                <span class="mdl-textfield__error">Please Enter Valid Name!</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                                <i class="fa fa-envelope-o"></i>
                                <input class="mdl-textfield__input" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="appointment-email">
                                <label class="mdl-textfield__label" for="appointment-email">Email</label>
                                <span class="mdl-textfield__error">Please Enter Valid Email!</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                                <i class="fa fa-phone"></i>
                                <input class="mdl-textfield__input" type="text" pattern="[0-9]*" id="appointment-mobile">
                                <label class="mdl-textfield__label" for="appointment-mobile">Mobile Number</label>
                                <span class="mdl-textfield__error">Please Enter Valid Mobile Number!</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                                <i class="fa fa-hospital-o"></i>
                                <input class="mdl-textfield__input" type="text" pattern="[A-Z,a-z,.]*" id="appointment-name">
                                <label class="mdl-textfield__label" for="appointment-name">Designation</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                                <i class="fa fa-users"></i>
                                <input class="mdl-textfield__input" type="text" pattern="[A-Z,a-z,.]*" id="appointment-name">
                                <label class="mdl-textfield__label" for="appointment-name">Company Name</label>
                                <span class="mdl-textfield__error">Please Enter Company Name!</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                                <i class="fa fa-map-marker"></i>
                                <input class="mdl-textfield__input" type="text" pattern="[A-Z,a-z,.]*" id="appointment-name">
                                <label class="mdl-textfield__label" for="appointment-name">location</label>
                                
                            </div>
                        </div>
                    </div>
                    <div class="text-center pt-4">
                        <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect mdl-button--raised button button-primary button-lg make-appointment">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Make an Appointment Modal -->    
    <!-- Start Footer Section -->
    <footer id="footer">
        <div class="layer-stretch">
            <!-- Start main Footer Section -->
            <div class="row layer-wrapper">
                <div class="col-md-4 footer-block">
                    <div class="footer-ttl"><p>Basic Info</p></div>
                    <div class="footer-container footer-a">
                        <div class="tbl">
                            <div class="tbl-row">
                                <div class="tbl-cell"><i class="fa fa-map-marker"></i></div>
                                <div class="tbl-cell">
                                    <p class="paragraph-medium paragraph-white">
                                        Mysoftheaven(BD) Ltd.<br />
                                        19-B/2-C & 2-D, Block-F, 5th Floor, Ring Road, Shymoli, Dhaka-1207.<br />
                                        Tel: 02-9143366.
                                    </p>
                                </div>
                            </div>
                            <div class="tbl-row">
                                <div class="tbl-cell"><i class="fa fa-phone"></i></div>
                                <div class="tbl-cell">
                                    <p class="paragraph-medium paragraph-white">+8801710000000</p>
                                </div>
                            </div>
                            <div class="tbl-row">
                                <div class="tbl-cell"><i class="fa fa-envelope"></i></div>
                                <div class="tbl-cell">
                                    <p class="paragraph-medium paragraph-white">info@mysoftheaven.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-block">
                    <div class="footer-ttl"><p>Social Links</p></div>
                    <ul class="social-list social-list-colored footer-social">
                            <li>
                                <a href="#" target="_blank" id="footer-facebook" class="fa fa-facebook"></a>
                                <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-facebook">Facebook</span>
                            </li>
                            <li>
                                <a href="#" target="_blank" id="footer-twitter" class="fa fa-twitter"></a>
                                <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-twitter">Twitter</span>
                            </li>
                            <li>
                                <a href="#" target="_blank" id="footer-google" class="fa fa-google"></a>
                                <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-google">Google</span>
                            </li>
                            <li>
                                <a href="#" target="_blank" id="footer-instagram" class="fa fa-instagram"></a>
                                <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-instagram">Instagram</span>
                            </li>
                            <li>
                                <a href="#" target="_blank" id="footer-youtube" class="fa fa-youtube"></a>
                                <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-youtube">Youtube</span>
                            </li>
                            <li>
                                <a href="#" target="_blank" id="footer-linkedin" class="fa fa-linkedin"></a>
                                <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-linkedin">Linkedin</span>
                            </li>
                            <li>
                                <a href="#" target="_blank" id="footer-flickr" class="fa fa-flickr"></a>
                                <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-flickr">Flickr</span>
                            </li>
                            <li>
                                <a href="#" target="_blank" id="footer-rss" class="fa fa-rss"></a>
                                <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-rss">Rss</span>
                            </li>
                        </ul>
                </div>
                <div class="col-md-4 footer-block">
                    <div class="footer-ttl"><p>Newsletter</p></div>
                    <div class="footer-container footer-c">
                        <div class="footer-subscribe">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input">
                                <input class="mdl-textfield__input" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="subscribe-email">
                                <label class="mdl-textfield__label" for="subscribe-email">Your Email</label>
                                <span class="mdl-textfield__error">Please Enter Valid Email!</span>
                            </div>
                            <div class="footer-subscribe-button">
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect button button-primary">Submit</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div><!-- End main Footer Section -->
        <!-- Start Copyright Section -->
        <div id="copyright">
            <div class="layer-stretch">
                <div class="paragraph-medium paragraph-white">Copyrights © 2018 | All Rights Reserved by Mysoftheaven (BD) Ltd.</div>
            </div>
        </div><!-- End of Copyright Section -->
    </footer><!-- End of Footer Section -->

    <!-- **********Included Scripts*********** -->

    <!-- Jquery Library 2.1 JavaScript-->
    <script src="js/jquery-2.1.4.min.js"></script>
    <!-- Popper JavaScript-->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap Core JavaScript-->
    <script src="js/bootstrap.min.js"></script>
    <!-- Material Design Lite JavaScript-->
    <script src="js/material.min.js"></script>
    <!-- Material Select Field Script -->
    <script src="js/mdl-selectfield.min.js"></script>
    <!-- Flexslider Plugin JavaScript-->
    <script src="js/jquery.flexslider.min.js"></script>
    <!-- Owl Carousel Plugin JavaScript-->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Scrolltofixed Plugin JavaScript-->
    <script src="js/jquery-scrolltofixed.min.js"></script>
    <!-- Magnific Popup Plugin JavaScript-->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- WayPoint Plugin JavaScript-->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- CounterUp Plugin JavaScript-->
    <script src="js/jquery.counterup.js"></script>
    <!-- SmoothScroll Plugin JavaScript-->
    <script src="js/smoothscroll.min.js"></script>
    <!--Custom JavaScript for Klinik Template-->
    <script src="js/custom.js"></script>
</body>
</html>